@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

/* #7EFF63 */

body{
    margin: 0rem;
    background-color: #f1f5f9;
    font-family: 'llibre Baskerville',serif;
    heght:100vh
}

.navigation
{
    background-color: #a1a1aa;
    padding: 0.5rem 0rem;
    /*box-shadow: 10px 10px 5px white;*/
    box-shadow: 12px 12px 2px 1px rgba(142, 142, 179, 0.486);
}

.list-item-inline
{
    list-style: none;
    display:inline;
    padding-left: 4rem;
}
.link
{
    color:white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    text-shadow:-1.5px,0 black ,0 1.5px black ,1.5px 0 black , 0-1.5px black
}
#img1{
    height:20rem;
    width: 20rem;
    display: block;
    margin:auto;
}
h1
{
 text-align:center
}
